.question {
    display: flex;
    justify-content: center;
    flex-direction: column;

    border: solid 0.7px;
    margin: 2rem 20rem;
}

.question-header {
    display: grid;
    grid-template-columns: 2fr 15fr;

    padding-top: 2rem;
    margin-left: 4rem;
}

.question-profile {
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.question-profile-img {
    width: 100px;
    height: 100px;
}

.question-title-parameters {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    gap: 4rem;
    padding-left: 2rem;
}

.question-title-parameters-tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.question-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 2rem 4rem 2rem 4rem;
}

.question-title-text {
    display: flex;
    align-content: center;
    align-items: center;
    min-height: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.question-profile-name {
    font-size: 1.3rem;
}