.form-position {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
    border: solid;
    width: 400px;
    margin: 3rem auto;
    gap: 10px;
}

.login-registration-button {
    background-color: white;
    border: solid 1px;
}

