.navigation {
    color: white;
}

.center-align {
    position: absolute;
    justify-content: center;
    text-align: center;
}

.card-margin {
    margin-left: 5em;
    padding-top: 1em;
}

.profile-area {
    background-color: #589ae5;
    color: black;
    min-width: 13em;
    max-width: 16em;
}

.profile-photo {
    width: 2em;
    height: 2em;
}

.navbar-settings {
    border: solid;
    padding-top: 10%;
}

.card-text {
    justify-content: center;
}

.navbar-link-colors {
    border: solid #000000;
    color: black;
}


#header-title {
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}