.answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.answers-single {
    border: solid 0.7px;
    min-height: 5rem;
    width: 50rem;
    padding-top: 1rem;
    padding-left: 1rem;

    display: grid;
    grid-template-columns: 2fr 15fr;
}

.answers-single-header {
    display: flex;
    flex-direction: column;
}

.answers-img {
    width: 80px;
    height: 80px;
}

.answers-single-img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 1rem;
}

.answers-single-block {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.answers-single-text {
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 1.4rem;
}

.answers-single-date {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    align-content: center;
    align-items: center;
}

textarea {
    resize: none;
}

.answers-single-textarea {
    width: 40rem;
    height: 5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    resize: none;
}

#comment-submit {
    width: 10rem;
}

.answers-single-block-names {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
    margin-left: 2rem;
    font-size: 1.2rem;
}